atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
decorator==4.3.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
more-itertools==4.3.0
numpy==1.15.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
pluggy==0.7.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.6.0
Pygments==2.2.0
pytest==3.7.4
scikit-learn==0.19.2
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
takepod==0.1
traitlets==4.3.2
wcwidth==0.1.7
