flake8
mccabe
msgpack-numpy
numpy
pandas
plac
pluggy
preshed
prompt-toolkit
ptyprocess
py
pycodestyle
pyflakes
pytest==3.10.1
pytest-cov==2.6.0
pytest-mock==1.10.1
regex
requests
scipy
scikit-learn
simplegeneric
six
tqdm
urllib3
wget
paramiko
dill
nltk>=3.0
